
<div class="container p-4">
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>CEP</th>
                <th>Rua/Nº</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        {{#each alunos}}  
         
        <trbody>
            <tr>
                <td>{{Name}}</td>
                <td>{{DocumentCpf}}</td>
                <td>{{DocumentRg}}</td>
                <td>{{moment Birthday}}</td>
                <td>{{Phone}}</td>
                <td>{{AddressCode}}</td>
                <td>{{AddressStreet}}</td>
                <td>{{AddressCity}}</td>
                <td>{{AddressState}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <a type="button" href="/alunos/edit/{{IdAluno}}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                        
                        <a type="button" class="btn btn-secondary"><i class="fas fa-print"></i></a>
                        
                    </div>
                </td>
            </tr>
        </trbody>
        {{/each}}    

    </table>
</div>